Repository centrifuge/centrifuge-chain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mustermeiszer, @NunoAlexandre, @lemunozm, @wischli, @cdamian, @hieronx

integration-tests: Use latest version of fudge-polkadot-v0.9.43 and adapt testing setup
  Cargo.lock
  runtime/integration-tests/Cargo.toml
  runtime/integration-tests/src/liquidity_pools/pallet/development/test_net.rs
  runtime/integration-tests/src/runtime_apis/mod.rs
  runtime/integration-tests/src/utils/env.rs
  runtime/integration-tests/src/utils/extrinsics.rs
Owners: @mustermeiszer, @NunoAlexandre, @wischli, @cdamian

integration-tests: Use fudge in development LP tests
  runtime/integration-tests/src/liquidity_pools/pallet/development/setup.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/add_allow_upgrade.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/foreign_investments.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/mod.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/setup.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/transfers.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/routers/ethereum_xcm.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/transfers.rs
  runtime/integration-tests/src/utils/env.rs
  runtime/integration-tests/src/utils/logs.rs
Owners: none

integration-tests: Drop unnecessary envs and funcs from development tests
  runtime/integration-tests/src/liquidity_pools/pallet/development/mod.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/setup.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/test_net.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/add_allow_upgrade.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/foreign_investments.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/setup.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/transfers.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/routers/ethereum_xcm.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/transfers.rs
Owners: none

integration-tests: Add sibling to generic envs, fix LP tests
  Cargo.lock
  pallets/investments/src/lib.rs
  runtime/integration-tests/Cargo.toml
  runtime/integration-tests/src/generic/cases/example.rs
  runtime/integration-tests/src/generic/cases/loans.rs
  runtime/integration-tests/src/generic/env.rs
  runtime/integration-tests/src/generic/envs/fudge_env.rs
  runtime/integration-tests/src/generic/envs/fudge_env/handle.rs
  runtime/integration-tests/src/generic/envs/runtime_env.rs
  runtime/integration-tests/src/generic/impls.rs
  runtime/integration-tests/src/generic/mod.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/foreign_investments.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/setup.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/transfers.rs
  runtime/integration-tests/src/utils/genesis.rs
Owners: @mustermeiszer, @NunoAlexandre, @wischli, @cdamian

integration-tests: Adapt LP kusama tests to use the generic framework
  runtime/integration-tests/Cargo.toml
  runtime/integration-tests/src/generic/cases/liquidity_pools.rs
  runtime/integration-tests/src/generic/config.rs
  runtime/integration-tests/src/generic/envs/fudge_env.rs
  runtime/integration-tests/src/generic/envs/fudge_env/handle.rs
  runtime/integration-tests/src/generic/impls.rs
  runtime/integration-tests/src/generic/mod.rs
  runtime/integration-tests/src/liquidity_pools/pallet/kusama/mod.rs
  runtime/integration-tests/src/liquidity_pools/pallet/kusama/restricted_calls.rs
  runtime/integration-tests/src/liquidity_pools/pallet/kusama/setup.rs
  runtime/integration-tests/src/liquidity_pools/pallet/kusama/test_net.rs
  runtime/integration-tests/src/liquidity_pools/pallet/kusama/tests/asset_registry.rs
  runtime/integration-tests/src/liquidity_pools/pallet/kusama/tests/currency_id_convert.rs
  runtime/integration-tests/src/liquidity_pools/pallet/kusama/tests/mod.rs
  runtime/integration-tests/src/liquidity_pools/pallet/kusama/tests/transfers.rs
  runtime/integration-tests/src/utils/env.rs
Owners: @mustermeiszer, @NunoAlexandre, @wischli, @cdamian

integration-tests: Adapt LP polkadot tests to use the generic framework
  Cargo.lock
  runtime/integration-tests/Cargo.toml
  runtime/integration-tests/src/generic/cases/liquidity_pools.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/add_allow_upgrade.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/foreign_investments.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/transfers.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/routers/ethereum_xcm.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/transfers.rs
  runtime/integration-tests/src/liquidity_pools/pallet/mod.rs
  runtime/integration-tests/src/liquidity_pools/pallet/polkadot/mod.rs
  runtime/integration-tests/src/liquidity_pools/pallet/polkadot/setup.rs
  runtime/integration-tests/src/liquidity_pools/pallet/polkadot/test_net.rs
  runtime/integration-tests/src/liquidity_pools/pallet/polkadot/tests/asset_registry.rs
  runtime/integration-tests/src/liquidity_pools/pallet/polkadot/tests/currency_id_convert.rs
  runtime/integration-tests/src/liquidity_pools/pallet/polkadot/tests/mod.rs
  runtime/integration-tests/src/liquidity_pools/pallet/polkadot/tests/restricted_calls.rs
  runtime/integration-tests/src/liquidity_pools/pallet/polkadot/tests/transfers.rs
Owners: @mustermeiszer, @NunoAlexandre, @wischli, @cdamian

integration-tests: Don't evolve fudge env during creation
  runtime/integration-tests/src/generic/envs/fudge_env.rs
Owners: none

development: Add max holds and max freezes to pallet-balances config.
  runtime/development/src/lib.rs
Owners: none

integration-tests: Remove unused imports
  runtime/integration-tests/src/generic/cases/example.rs
  runtime/integration-tests/src/generic/cases/liquidity_pools.rs
  runtime/integration-tests/src/generic/envs/fudge_env.rs
  runtime/integration-tests/src/generic/envs/fudge_env/handle.rs
  runtime/integration-tests/src/generic/envs/runtime_env.rs
  runtime/integration-tests/src/runtime_apis/mod.rs
  runtime/integration-tests/src/runtime_apis/rewards.rs
Owners: none

integration-tests: Disable liquidity_rewards_runtime_api_works test
  runtime/integration-tests/src/runtime_apis/rewards.rs
Owners: none

investments: Remove commented code
  pallets/investments/src/lib.rs
Owners: none

development: Remove MaxFreezes const
  runtime/development/src/lib.rs
Owners: none

fix: typos (#1568)
  docs/runtime-upgrade.md
  pallets/rewards/README.md
Owners: @lemunozm

integration-tests: Handle extrinsics errors, evolve fudge env on init
  runtime/integration-tests/src/generic/env.rs
  runtime/integration-tests/src/generic/envs/fudge_env.rs
  runtime/integration-tests/src/generic/envs/runtime_env.rs
  runtime/integration-tests/src/runtime_apis/rewards.rs
Owners: none

review the PR with @wischli
  .github/workflows/benchmark-auto-pr.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-wasm.yml
Owners: none

.github/CODEOWNERS:

# Centrifudge Code Owners

## Changes to .github
.github/* @mustermeiszer @NunoAlexandre @lemunozm

## Changes to ci
ci/* @mustermeiszer @NunoAlexandre @lemunozm

## Changes to the service of our chain.
node/* @mustermeiszer @NunoAlexandre

## Changes to chain-specs
node/res/* @mustermeiszer @NunoAlexandre @wischli

## Changes to specific pallets
pallets/liquidity-pools/* @NunoAlexandre @cdamian @wischli @mustermeiszer
pallets/rewards/* @lemunozm
pallets/liquidity-rewards/* @lemunozm
pallets/block-rewards/* @wischli @lemunozm
pallets/nft-sales/* @NunoAlexandre
pallets/keystore/* @cdamian
pallets/pool-registry/* @mustermeiszer
pallets/pool-system/* @mustermeiszer @hieronx
pallets/loans/* @mustermeiszer @hieronx @lemunozm
pallets/interest-accrual/* @lemunozm
pallets/investments/* @mustermeiszer
pallets/permissions/* @mustermeiszer
pallets/restricted-tokens/* @mustermeiszer
pallets/data-collector/* @lemunozm
pallets/fees/* @lemunozm
pallets/transfer-allowlist/* @mustermeiszer
pallets/foreign-investments/* @wischli

## Changes to specific libraries
libs/mock-builder/* @lemunozm
libs/mocks/* @lemunozm
libs/traits/src/rewards.rs @lemunozm
libs/traits/src/changes.rs @lemunozm
libs/traits/src/data.rs @lemunozm

## Changes to runtime
runtime/common/* @mustermeiszer @NunoAlexandre @hieronx @lemunozm @wischli
runtime/altair/* @mustermeiszer @NunoAlexandre @hieronx @wischli
runtime/centrifuge/* @mustermeiszer @NunoAlexandre @hieronx @wischli

## Changes to integration tests
runtime/integration-tests/* @mustermeiszer @NunoAlexandre @wischli @cdamian
runtime/integration-tests/rewards/* @wischli @lemunozm
runtime/integration-tests/xcm/* @NunoAlexandre
