Repository centrifuge/centrifuge-chain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mikiquantum, @mustermeiszer, @branan, @NunoAlexandre, @wischli, @lemunozm, @cdamian, @thea-leake, @offerijns

Fix merge issues
  pallets/pool-registry/src/lib.rs
Owners: none

add pallet mock for the new trait
  Cargo.lock
  libs/mocks/src/lib.rs
  libs/mocks/src/write_off_policy.rs
  libs/traits/src/lib.rs
  pallets/pool-registry/Cargo.toml
  pallets/pool-registry/src/mock.rs
  pallets/pool-registry/src/tests.rs
Owners: @mustermeiszer

trait type as policy
  libs/mocks/src/write_off_policy.rs
  libs/traits/src/lib.rs
  pallets/pool-registry/src/lib.rs
  pallets/pool-registry/src/mock.rs
  pallets/pool-registry/src/tests.rs
Owners: none

Taplo fmt
  pallets/pool-registry/Cargo.toml
Owners: @mustermeiszer

Fix missing trait impl
  pallets/loans/src/lib.rs
Owners: none

Add missing question mark
  pallets/loans/src/lib.rs
Owners: none

Update runtime/altair/src/lib.rs
  runtime/altair/src/lib.rs
Owners: none

Fix pallet references
  runtime/centrifuge/src/lib.rs
  runtime/development/src/lib.rs
Owners: none

Fix missing cargo features
  libs/mocks/Cargo.toml
  pallets/claims/Cargo.toml
  pallets/ethereum-transaction/Cargo.toml
  pallets/liquidity-pools-gateway/Cargo.toml
  pallets/liquidity-pools-gateway/axelar-gateway-precompile/Cargo.toml
  pallets/liquidity-pools-gateway/routers/Cargo.toml
  pallets/order-book/Cargo.toml
  runtime/altair/Cargo.toml
  runtime/centrifuge/Cargo.toml
  runtime/common/Cargo.toml
  runtime/development/Cargo.toml
  runtime/integration-tests/Cargo.toml
Owners: @lemunozm, @mikiquantum, @mustermeiszer, @branan, @NunoAlexandre, @wischli, @cdamian, @thea-leake, @offerijns

Fix clippy
  pallets/loans/src/lib.rs
Owners: none

fmt
  libs/mocks/Cargo.toml
  pallets/ethereum-transaction/Cargo.toml
  pallets/liquidity-pools-gateway/Cargo.toml
  pallets/liquidity-pools-gateway/axelar-gateway-precompile/Cargo.toml
  pallets/order-book/Cargo.toml
Owners: @lemunozm, @mikiquantum, @mustermeiszer, @branan, @NunoAlexandre, @wischli, @cdamian, @thea-leake

Add worst case policy
  libs/mocks/src/write_off_policy.rs
  libs/traits/src/lib.rs
  pallets/loans/src/lib.rs
  pallets/pool-registry/src/benchmarking.rs
Owners: none

Loans: add slippage for external pricing (#1487)
  pallets/loans/docs/types.md
  pallets/loans/src/entities/loans.rs
  pallets/loans/src/entities/pricing/external.rs
  pallets/loans/src/lib.rs
  pallets/loans/src/tests/borrow_loan.rs
  pallets/loans/src/tests/mock.rs
  pallets/loans/src/tests/repay_loan.rs
  pallets/loans/src/tests/util.rs
  runtime/altair/src/lib.rs
  runtime/centrifuge/src/lib.rs
  runtime/development/src/lib.rs
Owners: none

Fix missing cargo features (#1500)
  libs/mocks/Cargo.toml
  pallets/claims/Cargo.toml
  pallets/ethereum-transaction/Cargo.toml
  pallets/liquidity-pools-gateway/Cargo.toml
  pallets/liquidity-pools-gateway/axelar-gateway-precompile/Cargo.toml
  pallets/liquidity-pools-gateway/routers/Cargo.toml
  pallets/order-book/Cargo.toml
  runtime/altair/Cargo.toml
  runtime/centrifuge/Cargo.toml
  runtime/common/Cargo.toml
  runtime/development/Cargo.toml
  runtime/integration-tests/Cargo.toml
Owners: @lemunozm, @mikiquantum, @mustermeiszer, @branan, @NunoAlexandre, @wischli, @cdamian, @thea-leake, @offerijns

fix benchmarks for worst case
  libs/mocks/src/write_off_policy.rs
  pallets/loans/src/benchmarking.rs
  pallets/pool-registry/Cargo.toml
  pallets/pool-registry/src/benchmarking.rs
Owners: @mustermeiszer

quantity with decimals
  pallets/loans/src/entities/pricing/external.rs
  pallets/loans/src/lib.rs
  pallets/loans/src/tests/borrow_loan.rs
  pallets/loans/src/tests/create_loan.rs
  pallets/loans/src/tests/repay_loan.rs
Owners: none

Fix missing import
  pallets/loans/src/lib.rs
Owners: none

Remove unused import
  pallets/loans/src/lib.rs
Owners: none

Fix clippy
  pallets/loans/src/benchmarking.rs
  pallets/loans/src/lib.rs
Owners: none

Remove unused imports and minor clean ups
  runtime/centrifuge/src/lib.rs
Owners: none

quantity with decimals (#1501)
  pallets/loans/src/entities/pricing/external.rs
  pallets/loans/src/lib.rs
  pallets/loans/src/tests/borrow_loan.rs
  pallets/loans/src/tests/create_loan.rs
  pallets/loans/src/tests/repay_loan.rs
Owners: none

.github/CODEOWNERS:

# Centrifudge Code Owners

## Changes to .github
.github/* @mikiquantum @mustermeiszer @branan @NunoAlexandre

## Changes to ci
ci/* @mikiquantum @mustermeiszer @branan @NunoAlexandre

## Changes to the service of our chain.
node/* @mikiquantum @mustermeiszer @branan @NunoAlexandre

## Changes to chain-specs
node/res/* @mikiquantum @mustermeiszer @branan @NunoAlexandre @wischli

## Changes to toml files
*.toml @mikiquantum @mustermeiszer @branan @NunoAlexandre @lemunozm @wischli @cdamian @thea-leake

## Changes to specific pallets
pallets/liquidity-pools/* @NunoAlexandre @cdamian @wischli @mustermeiszer
pallets/rewards/* @lemunozm @mikiquantum
pallets/liquidity-rewards/* @lemunozm @mikiquantum
pallets/block-rewards/* @wischli @lemunozm
pallets/nft-sales/* @NunoAlexandre
pallets/keystore/* @cdamian @mikiquantum
pallets/pool-registry/* @mustermeiszer
pallets/pool-system/* @mustermeiszer @branan @offerijns
pallets/loans/* @mustermeiszer @branan @offerijns @lemunozm
pallets/interest-accrual/* @branan @lemunozm
pallets/investments/* @mustermeiszer
pallets/permissions/* @mustermeiszer
pallets/restricted-tokens/* @mustermeiszer
pallets/data-collector/* @lemunozm
pallets/fees/* @lemunozm @mikiquantum
pallets/transfer-allowlist/* @thea-leake @mustermeiszer

## Changes to specific libraries
libs/mock-builder/* @lemunozm
libs/mocks/* @lemunozm
libs/traits/src/rewards.rs @lemunozm
libs/traits/src/changes.rs @lemunozm
libs/traits/src/data.rs @lemunozm

## Changes to runtime
runtime/common/* @branan @mikiquantum @mustermeiszer @NunoAlexandre @offerijns @lemunozm
runtime/altair/* @branan @mikiquantum @mustermeiszer @NunoAlexandre @offerijns @wischli
runtime/centrifuge/* @branan @mikiquantum @mustermeiszer @NunoAlexandre @offerijns @wischli

## Changes to integration tests
runtime/integration-tests/* @mustermeiszer @NunoAlexandre @wischli @cdamian
runtime/integration-tests/rewards/* @wischli @lemunozm
runtime/integration-tests/xcm/* @NunoAlexandre
