Repository centrifuge/centrifuge-chain, pull requests merged in 2022-04, with the labels that each got.

#739 Integration tests
  Cargo.lock
  runtime/integration-tests/Cargo.toml
  runtime/integration-tests/src/lib.rs
  runtime/integration-tests/src/pools/mod.rs
  runtime/integration-tests/src/pools/pool_starts.rs
  runtime/integration-tests/src/pools/utils/env.rs
  runtime/integration-tests/src/pools/utils/logs.rs
  runtime/integration-tests/src/pools/utils/mod.rs
  runtime/integration-tests/src/xcm/mod.rs
  runtime/integration-tests/src/xcm/setup.rs
  runtime/integration-tests/src/xcm/test_net.rs
  runtime/integration-tests/src/xcm/xcm_transfers.rs
Labels: D0-ready, crcl-runtime, crcl-protocol

#758 Integration Utilities and Testing Env
  Cargo.lock
  runtime/integration-tests/Cargo.toml
  runtime/integration-tests/src/lib.rs
  runtime/integration-tests/src/pools/env.rs
  runtime/integration-tests/src/pools/mod.rs
  runtime/integration-tests/src/pools/pool_starts.rs
  runtime/integration-tests/src/pools/utils/accounts.rs
  runtime/integration-tests/src/pools/utils/env.rs
  runtime/integration-tests/src/pools/utils/extrinsics.rs
  runtime/integration-tests/src/pools/utils/logs.rs
  runtime/integration-tests/src/pools/utils/mod.rs
Labels: D0-ready, crcl-runtime, crcl-protocol

#760 Fixup benchmarks and enable them as tests
  .github/workflows/tests.yml
  Cargo.lock
  Cargo.toml
  ci/script.sh
  libs/common-traits/src/lib.rs
  pallets/collator-allowlist/src/mock.rs
  pallets/crowdloan-claim/src/benchmarking.rs
  pallets/loans/src/benchmarking.rs
  pallets/loans/src/test_utils.rs
  pallets/migration/src/benchmarking.rs
  pallets/migration/src/lib.rs
  pallets/migration/src/mock.rs
  pallets/permissions/src/benchmarking.rs
  pallets/permissions/src/mock.rs
  pallets/pools/src/benchmarking.rs
  pallets/pools/src/lib.rs
  pallets/pools/src/mock.rs
  pallets/pools/src/weights.rs
  pallets/restricted-tokens/src/benchmarking.rs
  runtime/development/Cargo.toml
  runtime/development/src/lib.rs
  runtime/development/src/weights/mod.rs
  runtime/development/src/weights/pallet_loans.rs
  runtime/development/src/weights/pallet_pools.rs
  runtime/integration-tests/Cargo.toml
  runtime/integration-tests/src/pools/utils/env.rs
  scripts/runtime_benchmarks.sh
Labels: D0-ready, crcl-runtime, crcl-protocol

#761 Adding restrictions check for pool-currency
  pallets/loans/src/mock.rs
  pallets/pools/src/lib.rs
  pallets/pools/src/mock.rs
  pallets/pools/src/tests.rs
  runtime/development/src/lib.rs
Labels: D0-ready, crcl-protocol

#783 Use restricted-tokens-in-pool
  runtime/development/src/lib.rs
Labels: D0-ready

#685 Take a deposit when creating a pool
  pallets/loans/src/mock.rs
  pallets/pools/src/benchmarking.rs
  pallets/pools/src/lib.rs
  pallets/pools/src/mock.rs
  pallets/pools/src/tests.rs
  runtime/development/src/lib.rs
Labels: crcl-runtime

#766 Introduce Role enum and generic permissioned currency variant
  libs/common-traits/src/lib.rs
  libs/common-types/src/lib.rs
  libs/common-types/src/tests.rs
  libs/common-types/src/tokens.rs
  pallets/crowdloan-claim/src/mock.rs
  pallets/loans/src/benchmarking.rs
  pallets/loans/src/lib.rs
  pallets/loans/src/mock.rs
  pallets/loans/src/test_utils.rs
  pallets/loans/src/tests.rs
  pallets/permissions/src/benchmarking.rs
  pallets/permissions/src/lib.rs
  pallets/permissions/src/mock.rs
  pallets/permissions/src/tests.rs
  pallets/pools/src/benchmarking.rs
  pallets/pools/src/lib.rs
  pallets/pools/src/mock.rs
  pallets/pools/src/tests.rs
  pallets/restricted-tokens/src/benchmarking.rs
  runtime/altair/src/lib.rs
  runtime/common/src/lib.rs
  runtime/development/src/lib.rs
  runtime/integration-tests/src/pools/utils/loans.rs
  runtime/integration-tests/src/pools/utils/pools.rs
Labels: crcl-runtime
