Repository centrifuge/centrifuge-chain, pull requests merged in 2023-10, with the labels that each got.

#1580 Fix/precompile account codes
  Cargo.lock
  Cargo.toml
  runtime/altair/Cargo.toml
  runtime/altair/src/migrations.rs
  runtime/centrifuge/Cargo.toml
  runtime/centrifuge/src/lib.rs
  runtime/centrifuge/src/migrations.rs
  runtime/common/Cargo.toml
  runtime/common/src/evm/precompile.rs
  runtime/common/src/migrations/mod.rs
  runtime/common/src/migrations/precompile_account_codes.rs
  src/chain_spec.rs
Labels: D0-ready, D2-notify, D8-migration

#1581 feat: add precompile migration to dev
  runtime/development/src/lib.rs
  runtime/development/src/migrations.rs
Labels: D0-ready, D8-migration

#1584 fix: remove spec_version check for Centrifuge 1023 migrations
  Cargo.lock
  runtime/altair/src/migrations.rs
  runtime/centrifuge/Cargo.toml
  runtime/centrifuge/src/lib.rs
  runtime/centrifuge/src/migrations.rs
  runtime/common/src/migrations/precompile_account_codes.rs
  runtime/development/Cargo.toml
  runtime/development/src/lib.rs
  runtime/development/src/migrations.rs
Labels: D0-ready, I9-release, D8-migration

#1583 Integration test: Generic runtime and environment
  Cargo.lock
  runtime/altair/src/lib.rs
  runtime/centrifuge/src/lib.rs
  runtime/integration-tests/Cargo.toml
  runtime/integration-tests/src/generic/cases/example.rs
  runtime/integration-tests/src/generic/environment.rs
  runtime/integration-tests/src/generic/envs/fudge_env.rs
  runtime/integration-tests/src/generic/envs/runtime_env.rs
  runtime/integration-tests/src/generic/mod.rs
  runtime/integration-tests/src/generic/runtime.rs
  runtime/integration-tests/src/generic/utils/genesis.rs
  runtime/integration-tests/src/lib.rs
Labels: I4-tests, P2-nice-to-have, crcl-protocol

#1575 Loans: Moment as Seconds & Millis explicitly
  libs/mocks/src/pools.rs
  libs/primitives/src/lib.rs
  libs/test-utils/src/mocks/nav.rs
  libs/traits/src/interest.rs
  libs/traits/src/lib.rs
  libs/types/src/epoch.rs
  libs/types/src/permissions.rs
  pallets/interest-accrual/src/benchmarking.rs
  pallets/interest-accrual/src/lib.rs
  pallets/interest-accrual/src/mock.rs
  pallets/liquidity-pools/src/inbound.rs
  pallets/liquidity-pools/src/lib.rs
  pallets/liquidity-pools/src/message.rs
  pallets/loans/docs/types.md
  pallets/loans/src/benchmarking.rs
  pallets/loans/src/entities/changes.rs
  pallets/loans/src/entities/interest.rs
  pallets/loans/src/entities/loans.rs
  pallets/loans/src/entities/pricing/external.rs
  pallets/loans/src/entities/pricing/internal.rs
  pallets/loans/src/lib.rs
  pallets/loans/src/tests/borrow_loan.rs
  pallets/loans/src/tests/create_loan.rs
  pallets/loans/src/tests/mock.rs
  pallets/loans/src/tests/policy.rs
  pallets/loans/src/tests/portfolio_valuation.rs
  pallets/loans/src/tests/repay_loan.rs
  pallets/loans/src/tests/transfer_debt.rs
  pallets/loans/src/tests/util.rs
  pallets/loans/src/tests/write_off_loan.rs
  pallets/loans/src/types/mod.rs
  pallets/loans/src/types/policy.rs
  pallets/loans/src/types/portfolio.rs
  pallets/loans/src/types/valuation.rs
  pallets/pool-registry/src/benchmarking.rs
  pallets/pool-registry/src/lib.rs
  pallets/pool-registry/src/mock.rs
  pallets/pool-system/src/impls.rs
  pallets/pool-system/src/lib.rs
  pallets/pool-system/src/mock.rs
  pallets/pool-system/src/pool_types.rs
  pallets/pool-system/src/tranches.rs
  pallets/restricted-tokens/src/mock.rs
  runtime/altair/src/lib.rs
  runtime/centrifuge/src/lib.rs
  runtime/common/src/oracle.rs
  runtime/development/src/lib.rs
  runtime/integration-tests/src/generic/environment.rs
  runtime/integration-tests/src/generic/runtime.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/setup.rs
  runtime/integration-tests/src/utils/loans.rs
  runtime/integration-tests/src/utils/pools.rs
Labels: I2-bug, Q3-medium

#1592 Mock builder: use foss3 dependency
  Cargo.lock
  Cargo.toml
  libs/mock-builder/Cargo.toml
  libs/mock-builder/src/lib.rs
  libs/mock-builder/src/location.rs
  libs/mock-builder/src/storage.rs
  libs/mock-builder/src/util.rs
  libs/mock-builder/tests/pallet.rs
  libs/mocks/Cargo.toml
  libs/traits/Cargo.toml
Labels: Q0-trivial, P5-soon, I6-refactoring, dependencies

#1594 AssetRegistry: protect asset_registry migration
  runtime/altair/src/migrations.rs
  runtime/common/Cargo.toml
  runtime/common/src/migrations/asset_registry_xcmv3.rs
Labels: Q1-easy, P7-asap, D8-migration

#1595 chore: post v0.10.34 release cleanup
  runtime/centrifuge/src/lib.rs
  runtime/centrifuge/src/migrations.rs
  runtime/development/src/lib.rs
  runtime/development/src/migrations.rs
Labels: D0-ready, I9-release, I11-cleaning

#1596 Currencies: ED consistent between tokens and assets
  runtime/altair/src/lib.rs
  runtime/centrifuge/src/lib.rs
  runtime/common/src/lib.rs
  runtime/development/src/lib.rs
  runtime/integration-tests/src/evm/precompile.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/test_net.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/add_allow_upgrade.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/foreign_investments.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/setup.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/liquidity_pools/transfers.rs
  runtime/integration-tests/src/liquidity_pools/pallet/development/tests/mod.rs
  runtime/integration-tests/src/utils/mod.rs
Labels: I3-annoyance, D0-ready, Q3-medium, P5-soon

#1600 Loans: Integration tests
  Cargo.lock
  libs/types/src/fixed_point.rs
  pallets/loans/docs/types.md
  pallets/loans/src/entities/loans.rs
  runtime/integration-tests/Cargo.toml
  runtime/integration-tests/src/generic/README.md
  runtime/integration-tests/src/generic/cases/example.rs
  runtime/integration-tests/src/generic/cases/loans.rs
  runtime/integration-tests/src/generic/config.rs
  runtime/integration-tests/src/generic/env.rs
  runtime/integration-tests/src/generic/envs/fudge_env.rs
  runtime/integration-tests/src/generic/envs/fudge_env/handle.rs
  runtime/integration-tests/src/generic/envs/runtime_env.rs
  runtime/integration-tests/src/generic/impls.rs
  runtime/integration-tests/src/generic/mod.rs
  runtime/integration-tests/src/generic/utils/currency.rs
  runtime/integration-tests/src/generic/utils/genesis.rs
  runtime/integration-tests/src/generic/utils/mod.rs
  runtime/integration-tests/src/lib.rs
  runtime/integration-tests/src/pools/env.rs
  runtime/integration-tests/src/pools/mod.rs
  runtime/integration-tests/src/pools/pool_starts.rs
  runtime/integration-tests/src/utils/env.rs
  runtime/integration-tests/src/utils/extrinsics.rs
  runtime/integration-tests/src/utils/loans.rs
  runtime/integration-tests/src/utils/mod.rs
  runtime/integration-tests/src/utils/pools.rs
Labels: I4-tests, P5-soon, I6-refactoring
