Repository centrifuge/centrifuge-chain, pull requests merged in 2024-06, with the labels that each got.

#1848 Loans: use mocked timer
  pallets/loans/src/benchmarking.rs
  pallets/loans/src/tests/mock.rs
Labels: I4-tests, P2-nice-to-have, crcl-protocol, I11-cleaning

#1854 Borrow proxy with PodOperation behavior
  runtime/altair/src/lib.rs
  runtime/centrifuge/src/lib.rs
  runtime/development/src/lib.rs
Labels: Q1-easy, P5-soon, I8-enhancement

#1855 fix: allow root to propose and remove fees
  pallets/pool-fees/src/lib.rs
  pallets/pool-fees/src/mock.rs
  pallets/pool-fees/src/tests.rs
Labels: I2-bug, D0-ready

#1857 Feat: decrease debt
  pallets/loans/src/lib.rs
  pallets/loans/src/tests/borrow_loan.rs
  pallets/loans/src/tests/repay_loan.rs
Labels: D0-ready

#1858 chore: extend v1.7.2 transfer location migration
  runtime/centrifuge/src/migrations.rs
  runtime/common/src/migrations/restricted_location.rs
  runtime/development/Cargo.toml
  runtime/development/src/migrations.rs
Labels: D8-migration

#1856 Fix: `pallet-pool-system` - Ratio Calculation
  pallets/pool-system/src/lib.rs
  pallets/pool-system/src/mock.rs
  pallets/pool-system/src/tests/mod.rs
  pallets/pool-system/src/tests/ratios.rs
  pallets/pool-system/src/tranches.rs
Labels: I2-bug, D0-ready

#1861 refactor: Use `VersionedLocation` in `RestrictedTransferLocation`
  libs/types/src/locations.rs
  pallets/restricted-xtokens/src/lib.rs
  pallets/transfer-allowlist/src/benchmarking.rs
  pallets/transfer-allowlist/src/mock.rs
  pallets/transfer-allowlist/src/tests.rs
  runtime/common/src/migrations/restricted_location.rs
  runtime/common/src/transfer_filter.rs
  runtime/integration-tests/src/generic/cases/liquidity_pools.rs
  scripts/runtime_benchmarks.sh
Labels: D2-notify, I6-refactoring

#1863 ci: re-enable submodule pulling
  .github/workflows/sanity-checks.yml
Labels: I12-ci

#1853 Polkadot-1.7.2: restricted transfer location changes
  Cargo.lock
  libs/types/src/locations.rs
  pallets/restricted-xtokens/src/lib.rs
  pallets/transfer-allowlist/src/benchmarking.rs
  pallets/transfer-allowlist/src/lib.rs
  pallets/transfer-allowlist/src/mock.rs
  pallets/transfer-allowlist/src/tests.rs
  runtime/centrifuge/src/migrations.rs
  runtime/common/Cargo.toml
  runtime/common/src/migrations/mod.rs
  runtime/common/src/migrations/restricted_location.rs
  runtime/common/src/transfer_filter.rs
  runtime/development/Cargo.toml
  runtime/development/src/migrations.rs
  runtime/integration-tests/src/generic/cases/liquidity_pools.rs
  scripts/runtime_benchmarks.sh
Labels: Q3-medium, P5-soon, D5-breaks-api, D8-migration

#1862 fix: collator selection v2 storage migration
  runtime/altair/src/migrations.rs
  runtime/centrifuge/src/migrations.rs
  runtime/development/src/migrations.rs
Labels: D8-migration

#1867 Loans: cashflows simple version
  Cargo.lock
  Cargo.toml
  pallets/loans/Cargo.toml
  pallets/loans/docs/types.md
  pallets/loans/src/benchmarking.rs
  pallets/loans/src/entities/changes.rs
  pallets/loans/src/entities/loans.rs
  pallets/loans/src/entities/pricing.rs
  pallets/loans/src/entities/pricing/external.rs
  pallets/loans/src/lib.rs
  pallets/loans/src/tests/borrow_loan.rs
  pallets/loans/src/tests/create_loan.rs
  pallets/loans/src/tests/mod.rs
  pallets/loans/src/tests/mutate_loan.rs
  pallets/loans/src/tests/repay_loan.rs
  pallets/loans/src/tests/util.rs
  pallets/loans/src/types/cashflow.rs
  pallets/loans/src/types/mod.rs
  runtime/altair/src/lib.rs
  runtime/centrifuge/src/lib.rs
  runtime/common/src/apis/loans.rs
  runtime/development/src/lib.rs
  runtime/integration-tests/src/generic/cases/loans.rs
  runtime/integration-tests/src/generic/config.rs
Labels: P7-asap, I8-enhancement, D5-breaks-api

#1869 IT: Simplify liquidity_pool test module
  libs/primitives/src/lib.rs
  libs/types/src/tokens.rs
  runtime/altair/src/xcm.rs
  runtime/centrifuge/src/xcm.rs
  runtime/common/src/xcm.rs
  runtime/development/src/xcm.rs
  runtime/integration-tests/src/generic/cases/assets.rs
  runtime/integration-tests/src/generic/cases/currency_conversions.rs
  runtime/integration-tests/src/generic/cases/investments.rs
  runtime/integration-tests/src/generic/cases/liquidity_pools.rs
  runtime/integration-tests/src/generic/cases/loans.rs
  runtime/integration-tests/src/generic/cases/lp/mod.rs
  runtime/integration-tests/src/generic/cases/lp/transfers.rs
  runtime/integration-tests/src/generic/cases/precompile.rs
  runtime/integration-tests/src/generic/cases/proxy.rs
  runtime/integration-tests/src/generic/cases/restricted_transfers.rs
  runtime/integration-tests/src/generic/cases/xcm_transfers.rs
  runtime/integration-tests/src/generic/envs/fudge_env.rs
  runtime/integration-tests/src/generic/envs/fudge_env/handle.rs
  runtime/integration-tests/src/generic/impls.rs
  runtime/integration-tests/src/generic/mod.rs
  runtime/integration-tests/src/generic/utils/currency.rs
  runtime/integration-tests/src/generic/utils/genesis.rs
  runtime/integration-tests/src/generic/utils/xcm.rs
  runtime/integration-tests/src/utils/mod.rs
Labels: I4-tests, crcl-protocol

#1879 Liquidity-pools: Add unitary tests
  Cargo.lock
  libs/mocks/src/converter.rs
  libs/mocks/src/foreign_investment.rs
  libs/mocks/src/lib.rs
  libs/mocks/src/outbound_queue.rs
  libs/types/src/domain_address.rs
  libs/types/src/tokens.rs
  pallets/liquidity-pools-gateway/src/mock.rs
  pallets/liquidity-pools/Cargo.toml
  pallets/liquidity-pools/src/contract.rs
  pallets/liquidity-pools/src/hooks.rs
  pallets/liquidity-pools/src/inbound.rs
  pallets/liquidity-pools/src/lib.rs
  pallets/liquidity-pools/src/mock.rs
  pallets/liquidity-pools/src/routers.rs
  pallets/liquidity-pools/src/tests.rs
  runtime/altair/src/lib.rs
  runtime/centrifuge/src/lib.rs
  runtime/common/src/account_conversion.rs
  runtime/common/src/gateway.rs
  runtime/common/src/xcm.rs
  runtime/development/src/lib.rs
  runtime/integration-tests/src/generic/cases/assets.rs
  runtime/integration-tests/src/generic/cases/currency_conversions.rs
  runtime/integration-tests/src/generic/cases/liquidity_pools.rs
  runtime/integration-tests/src/generic/cases/lp/transfers.rs
  runtime/integration-tests/src/generic/cases/restricted_transfers.rs
  runtime/integration-tests/src/generic/utils/currency.rs
  runtime/integration-tests/src/generic/utils/democracy.rs
  runtime/integration-tests/src/generic/utils/mod.rs
  runtime/integration-tests/src/generic/utils/xcm.rs
  runtime/integration-tests/src/utils/accounts.rs
Labels: I4-tests

#1885 IT: more support for router tests
  pallets/liquidity-pools-gateway/routers/src/lib.rs
  pallets/liquidity-pools-gateway/routers/src/routers/axelar_evm.rs
  pallets/liquidity-pools-gateway/routers/src/routers/axelar_xcm.rs
  pallets/liquidity-pools-gateway/routers/src/routers/ethereum_xcm.rs
  pallets/liquidity-pools-gateway/routers/src/tests.rs
  runtime/common/src/gateway.rs
  runtime/integration-tests/src/generic/cases/liquidity_pools.rs
  runtime/integration-tests/src/generic/cases/routers.rs
  runtime/integration-tests/src/generic/mod.rs
Labels: I4-tests

#1880 IT: Panic if event is not found in the expected blocks
  runtime/integration-tests/src/generic/cases/routers.rs
  runtime/integration-tests/src/generic/env.rs
Labels: I4-tests

#1891 Refactor: Decoupling routers from gateway
  Cargo.lock
  libs/mocks/src/lib.rs
  libs/mocks/src/liquidity_pools.rs
  libs/mocks/src/liquidity_pools_gateway_routers.rs
  libs/traits/src/liquidity_pools.rs
  pallets/liquidity-pools-gateway/routers/Cargo.toml
  pallets/liquidity-pools-gateway/routers/src/lib.rs
  pallets/liquidity-pools-gateway/routers/src/mock.rs
  pallets/liquidity-pools-gateway/routers/src/routers/axelar_evm.rs
  pallets/liquidity-pools-gateway/routers/src/routers/axelar_xcm.rs
  pallets/liquidity-pools-gateway/routers/src/routers/ethereum_xcm.rs
  pallets/liquidity-pools-gateway/routers/src/routers/mod.rs
  pallets/liquidity-pools-gateway/routers/src/tests.rs
  pallets/liquidity-pools-gateway/src/lib.rs
  pallets/liquidity-pools-gateway/src/mock.rs
  pallets/liquidity-pools-gateway/src/tests.rs
  runtime/common/src/xcm.rs
Labels: P7-asap, I6-refactoring

#1828 feat: Open Gov for Development and Altair Runtimes
  Cargo.lock
  Cargo.toml
  libs/primitives/Cargo.toml
  libs/primitives/src/lib.rs
  libs/utils/src/lib.rs
  node/src/chain_spec.rs
  pallets/liquidity-pools/src/contract.rs
  runtime/altair/Cargo.toml
  runtime/altair/src/lib.rs
  runtime/altair/src/migrations.rs
  runtime/altair/src/tracks.rs
  runtime/altair/src/weights/mod.rs
  runtime/altair/src/weights/pallet_collective.rs
  runtime/altair/src/weights/pallet_collective_council.rs
  runtime/altair/src/weights/pallet_collective_technical_fellowship.rs
  runtime/altair/src/weights/pallet_conviction_voting.rs
  runtime/altair/src/weights/pallet_membership.rs
  runtime/altair/src/weights/pallet_referenda.rs
  runtime/altair/src/weights/pallet_whitelist.rs
  runtime/altair/src/xcm.rs
  runtime/centrifuge/src/lib.rs
  runtime/centrifuge/src/migrations.rs
  runtime/centrifuge/src/xcm.rs
  runtime/common/src/lib.rs
  runtime/common/src/migrations/mod.rs
  runtime/common/src/migrations/technical_comittee.rs
  runtime/common/src/origins.rs
  runtime/development/Cargo.toml
  runtime/development/src/lib.rs
  runtime/development/src/migrations.rs
  runtime/development/src/tracks.rs
  runtime/development/src/weights/mod.rs
  runtime/development/src/weights/pallet_collective.rs
  runtime/development/src/weights/pallet_collective_council.rs
  runtime/development/src/weights/pallet_collective_technical_fellowship.rs
  runtime/development/src/weights/pallet_conviction_voting.rs
  runtime/development/src/weights/pallet_membership.rs
  runtime/development/src/weights/pallet_referenda.rs
  runtime/development/src/weights/pallet_whitelist.rs
  runtime/development/src/xcm.rs
  runtime/integration-tests/src/config.rs
  runtime/integration-tests/src/utils/genesis.rs
Labels: D2-notify, I8-enhancement, D8-migration
